config/config.yml

# Ignore application configuration
/config/application.yml
codesnip
development.db
.gitignore2
33333333333andelans.csv
*not_registered.txt
*report*
affected_fellows.txt
contact_these.txt
available_for_pairs.txt
loggings.txt

temp
