config/config.yml

# Ignore application configuration
/config/application.yml
codesnip
development.db
.env
.gitignore2
33333333333andelans.csv
*not_registered.txt
*report*
affected_fellows.txt
contact_these.txt


temp
