<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet box light-grey">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-globe"></i>ANDELA
          </div>
        </div>
        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
              <tr>
                <th>Not Registered</th>
                <th>All Registered Users</th>
                <th>Registered But Not Paired</th>
                <th>Registered And Paired</th>
              </tr>
            </thead>
            <tbody>
              <% @recs.times do |u|%>
              <tr class="odd gradeX">
                <td><%= @not_registered[u] %></td>
                <td><%= @registered[u] %></td>
                <td><%= @registered_but_unpaired[u].email if @registered_but_unpaired[u] %></td>
                <td><%= @registered_and_paired[u].email if @registered_and_paired[u] %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
