<div class="tp-caption pair-name" data-hoffset="0" data-voffset="0" data-x="center" data-y="center" style="z-index: 6; font-size:40px; color:#fff; <%= 'display: none' unless @show_pair %>">
  <%= current_user.santee.name %>
</div>
<div class="tp-caption" data-hoffset="0" data-scrolloffset="0" data-speed="400" data-voffset="50" data-x="center" data-y="center" style="z-index: 8;">
  <% if current_user.unpaired? %>
  <a class="btn" href='/get_pair' id="get_pair_btn" data-userinformation="<%= current_user.google_auth_id %>" >Get Pair</a>
  <% else %>
  <a class="btn" href='/view_pair' id="view_pair_btn">View Pair</a>
  <% end %>
</div>
