  <!-- Header -->
  <header class="header">
    <div class="sticky">
      <div class="container-fluid">
        <div class="logo"> <a href="/"><img src="/images/andelogo_.png" alt=""></a></div>
        <nav>
          <ul id="ownmenu" class="ownmenu">
            <% if current_user %>
              <li class="active"><a href="#">Account </a>
              <ul class="dropdown">
                <% if authorized_users.include? current_user.email %>
                  <li><a href="/dashboard">Dashboard</a></li>
                <% end %>
                <% if current_user.pair%>
                  <li><a href="#" data-toggle="modal" data-target="#pair_giftModal">View Pair's Wishlist</a></li>
                <% end %>
                <li><a href="/view_pair">View Pair</a></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
            <% else %>
              <li class="active"><a href="/">home </a>
            <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <% if current_user && current_user.pair %>
    <%= erb :pair_gift %>
  <% end %>
  <!-- End Header -->
