<div id="basicModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5>What's this all about?</h5>
      </div>
      <div class="modal-body">
        <p>You can read all about <a href="https://en.wikipedia.org/wiki/Secret_Santa" target="_blank">Secret Santa here</a></p>
        <p>The concept is for you to become a source of blessing to another fellow this Christmas. He/She doesn't need to know who you are. You never know if you would put a smile on somebody's face this season.</p>
      </div>
    </div>
  </div>
</div>

<a href="#" class="btn_float text-center" data-toggle="modal" data-target="#basicModal" alt="Find Out More" title="More Information">?</a>
