<html>
  <head>
    <title><%= @title || 'Santandela' %></title>
    <meta charset="utf-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />

    <!-- StyleSheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <script src="js/vendors/modernizr.js"></script>

  </head>
  <body>
    <div id="wrap">
    <%= erb :header %>

    <section class="home-slider">
      <div class="tp-banner-container">
        <div class="tp-banner">
          <ul>
            <li >
              <img alt="slider" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" src="images/slides/slide-bg-31.jpg">
              <%= yield %>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/vendors/own-menu.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="/rs-plugin/js/jquery.tp.t.min.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.tp.min.js"></script>
    <script src="/js/kana.js"></script>

  </body>
</html>
