<div class="page-sidebar navbar-collapse collapse">
  <ul class="page-sidebar-menu">
    <li class="start">
      <a href="/dashboard">
        <span class="title">Basic Information</span>
      </a>
    </li>

    <li class="" data-placement="left">
      <a href="/all_pairs">
        <span class="title">Pairs</span>
      </a>
    </li>
  </ul>
</div>
