<!-- Welcome page -->
<%#= erb :slider %>
<div class="tp-caption pair-name text-center" data-hoffset="0" data-voffset="0" data-x="center" data-y="center" style="z-index: 6; font-size:20px; color:#fff; white-space: nowrap;">
  <%= nl2br flash[:error] %>
</div>
<div class="tp-caption" data-hoffset="0" data-scrolloffset="0" data-speed="400" data-voffset="50" data-x="center" data-y="center" style="z-index: 8;">
  <a class="btn" href='/auth/google_oauth2'><i class="fa fa-google-plus-square"></i> Sign In With Andela Account</a>
</div>
