.tp-loader.spinner0, .tp-loader.spinner1, .tp-loader.spinner5{
  display: none;
  visibility: hidden;
}

.pair-name{
  font-size: 1.5em;
  color: white;
  top: 40% !important;
}

header{
  margin-top: 0px;
}
