.tp-loader.spinner0, .tp-loader.spinner1, .tp-loader.spinner5{
  display: none;
  visibility: hidden;
}

.pair-name{
  font-size: 1.5em;
  color: white;
  top: 40% !important;
}

header{
  margin-top: 0px;
}
.btn.wishlist_btn{
  background-color: #fdb94e;
  color: white;
}

.santa-div{
  font-size: 0.7em;
}

.my-santa{
  color: #68591F;
}

.divider{
  padding: 0;
  margin: 0;
}
