html, body {
  height: 100%;
  width: 100%;
}
.wrap {
  height: inherit;
  width: 100%;
  position: relative;
}
div.wrap {
  background: url("/images/slides/slide.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

  a.cust_btn {
  text-transform: uppercase;
  border: 1px solid #810806;
  background-color: #b70704;
  font-size: 16px;
  padding: 20px 20px;
  color: #ffba41;
  border-radius: 0px;
}
a.cust_btn:hover {
  background-color: #810806;
  border: 1px solid #b70704;
  color: #ffba41;
}
.box {
  position: relative;
  top: 30%;
}

a.btn_custom{
  height: 56px;
  position: fixed;
  bottom: 10;
  right: 10;
  background: none;
  border-radius: 40px;
  border-color: #92610c;
  color: #92610c;
}

a.btn_custom:hover {
  border-color: #ffba41;
  color: #ffba41;
  background-color: #b47506;
}
a.btn_custom:active {
  color: rgba(255,255,255,.84);
}

.pair-name{
  padding: 1em;
  background-color: rgba(255,255,255,.94);
  color: #f00;
  border-radius: 50px;
}
